<div class="container">
  <div class="row">
      <div class="col-8">
            <div class="h5">
               SESSION -  2017/2018
            </div>
            <div class="row">
               <mat-form-field class="col-md-6">
                 <input matInput value="{{message[0].firstname}}" placeholder="Firstname" readonly>
               </mat-form-field>
               <mat-form-field class="col-md-6">
                  <input matInput value="{{message[0].lastname}}" placeholder="Lastname" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-6">
                    <input matInput value="{{message[0].matric_no}}" placeholder="Matric No" readonly>
                  </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-select [(value)]="selected">
                      <mat-option value="option1">{{message[0].ca}}</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
    
        <div class="col-4">
            <img src="{{message[0].pic}} " class="img-fluid img-thumbnail"/>
        </div>
  </div>
</div>






















<!-- 




{{message[0].firstname}} -->