 <!-- HIDE ON MED AND SMALL DEVICES SHOW ON LARGE -->
 <div fxShow="true" fxHide.lt-md="true" >
  <div class="row">
      <mat-drawer-container class="example-container" autosize>
              <mat-drawer #drawer class="example-sidenav aSide" mode="side" opened="true" style="background-color:#E5DDD5;max-width: 15%;">
                  <app-studlist></app-studlist>
              </mat-drawer>
               
                <ng-template #elseBlock>
                    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true" position="end"
                                style="background-color:#E5DDD5;max-width: 15%;">
                    <div class="closeholder">
                            <button (click)="drawer.toggle();say()" class="btn btn-sm">&times;</button>
                    </div> 
<!--                     
                            <app-stud-short-prof></app-stud-short-prof> -->
                    
                    </mat-drawer>
                </ng-template>
            <section>
               
                <div>
                    <div>
                         <i (click)="drawer.toggle()" class="material-icons btn-md" style="font-size: 10px;cursor: pointer;padding-left: 10px"><<=</i>
                   </div>
                    <app-studprof></app-studprof>
                </div>
            </section>
        </mat-drawer-container>
  </div>
</div>
<!-- SHOW ON MED AND SMALL DEVICES HIDE ON LARGE -->
<div  fxShow="true" fxHide.gt-sm="true" >
        <app-studlist></app-studlist>
</div>
